{% extends 'base.html' %}
{% block title %}{{ cat.label }}{% endblock %}
{% block content %}
<h1>{{ cat.label }}</h1>
<p>
    <a class="btn btn-primary" href="/{{ category }}/add_team">Добавить команду</a>
    <a class="btn btn-success" href="/{{ category }}/start">Начать турнир</a>
    <a class="btn btn-secondary" href="/{{ category }}/export">Скачать файл</a>
</p>
<ul>
{% for team in data.teams %}
    <li>{{ team.name }} - {{ ', '.join(team.players) }}</li>
{% endfor %}
</ul>
{% if data.bracket %}
<p><a class="btn btn-info" href="/{{ category }}/bracket">Открыть сетку</a></p>
{% endif %}
{% endblock %}
